<ion-view view-title="Rotas">
  <ion-content class="padding">
    <p>Escolha o ponto de partida e chegada para calcular a rota</p>
    <div class="list">
      <form ng-submit="onsubmit(data)">
        <label class="item item-input">
          <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off" ng-model="data.place_takeoff" placeholder="Partida"
               max-selected-items="1"
               select-items-label="Selecione o endereço"
               selected-items-label="Selecionado:"
               cancel-label="Cancelar"
               item-view-value-key="formatted_address"
               items-method="getAddressSuggestions(query)" />

        </label>
        <label class="item item-input">
          <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off" ng-model="data.place_arrival" placeholder="Chegada"
               max-selected-items="1"
               select-items-label="Selecione o endereço"
               selected-items-label="Selecionado:"
               cancel-label="Cancelar"
               item-view-value-key="formatted_address"
               items-method="getAddressSuggestions(query)" />
        </label>
        <button class="button button-block button-positive" type="submit">Buscar rota</button>
      </form>
    </div>
  </ion-content>
</ion-view>
